.login-container {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  background: #f9f9fc;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #3b3b98;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

small {
  color: red;
  font-size: 12px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #3b3b98;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #575fcf;
}
